* {
    box-sizing: border-box;
}

html,
body {
    padding: 0px;
    margin: 0px;
    font-family: "Helvetica Neue", Helvetica, Arial, Geneva, sans-serif;
    background-color: #eee;
}

hp-header {
    display: block;
    width: 100%;
    height: 200px;
    background: teal;
    color: #fff;
    padding: 20% 0 0 4%;
    position: relative;
    top: 0px;
    transform: translateZ(0px);
    z-index: 2;
}

hp-header.stickyHeader {
    position: fixed;
    top: 0px;
    height: 80px;
    padding: 4% 0 0 4%;
}

hp-header .container-icon,
hp-header .container-text {
    float: left;
}

hp-header .container-icon {
    padding: 3px 5px 0 0;
}

hp-header .heading {
    font-size: 28px;
    font-weight: 300;
}

hp-header .sub-heading {
    font-size: 20px;
    font-weight: 100;
    transition-duration: 400ms;
}

hp-header.stickyHeader .sub-heading {
    opacity: 0;
}

hp-header .icon-settings {
    position: fixed;
    top: 10px;
    right: 5px;
}

hp-cardlist{
    display: block;
}

hp-instacard {
    display: block;
    background-color: #fff;
    border-radius: 3px;
    margin: 10px;
    min-height: 30px;
    opacity: 0;
    -webkit-animation-duration: 400ms;
    -webkit-animation-name: hp-instacard-come-in;
    -webkit-animation-fill-mode: forwards;
}

@-webkit-keyframes hp-instacard-come-in {
    from {
    	opacity: 0;
    	transform: translateY(80px);
    }
    to {
    	opacity: 1;
    	transform: translateY(0px);
    }
}


hp-instacard .header{
    padding: 5px;
    border-bottom: 1px solid #f8d442;
    font-weight: bold;
}

hp-instacard .body{
    padding: 10px;
}


.action-panel{
    text-align: center;
}

.action-panel button{
    margin: auto;
    border: 1px solid rgb(211, 94, 15);
    background-color: rgb(211, 94, 15);
    color: #fff;
    display: block;
    font-family: Roboto, 'Droid Sans', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-size: 16px;
    height: 40px;
    width: 95%;
}

hp-instacard .desc{
    border-top:1px solid black;
    padding: 10px;
    word-wrap: break-word;
}

hp-instacard .img{
    text-align: center;
}


.unmount, .unmount-pop{
    transition-duration:300ms;
    opacity: 0;
}

.mount, .mount-pop{
    transition-duration:300ms;
    opacity: 1;
}